* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
body {
    background-color: #f5f5f5;
}
header {
    background-color: #e0e0e0;
    height: 70px;
    display: flex;
}
.logo-a {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: #1e88e5;
    width: 250px;
    text-decoration: none;
}
.logo {
    background-color: #1e88e5;
    width: 250px;
    display: flex;
    justify-content: center;
}
.logo p {
    color: white;
    font-size: 20px;
    font-weight: 100;
}
.logo p span {
    font-weight: bold;
}

.header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 30px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search img {
    margin-right: 15px;
    user-select: none;
}
.search p {
    color: #a1b1c2;
    font-size: 14px;
}

.sidebar {
    background-color: #37474f;
    height: 2000px; 
    user-select: none;
    min-width: 250px;
}
.sidebar a {
    height: 60px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 25px;
}
.sidebar a:hover {
    background-color: #455a64;
}
.sidebar a:hover p {
    color: white;
}

.sidebar img {
    margin-right: 15px;
}
.sidebar a p {
    color: #9ba3a7;
}

.push {
    position: relative;
    user-select: none;
    cursor: pointer;
}
.push img {
    margin-right: 6px;
    margin-top: 6px;
}
.push-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e88e5;
    color: white;
    width: 15px;
    height: 15px;
    font-size: 9px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.acc-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
#acc-box-line {
    padding: 0 16px;
    user-select: none;
}
#acc-box-down {
    padding: 0 13px;
    user-select: none;
    cursor: pointer;
}
#acc-box-acc-avatar {
    width: 50px;
    height: 50px;
    background-color: #37474f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}

.main-box {
    display: flex;
}
main {
    margin: 50px;
    width: 1450px;
}
main hr {
    margin: 30px 0;
    opacity: .5;
}
.main-header {
    color: #37474f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    user-select: none;
}
.main-header p {color: #78909c;}

.work-progress {
    background-color: white;
    margin: 50px 0;
    height: 400px;
}
.work-progress-header {
    padding: 30px;
    color: #37474f;
    display: flex;
    justify-content: space-between;
}
.work-progress-header p {color: #78909c;}
#work-progress-header-info {
    user-select: none;
}
#work-progress-header-week {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
#myChart {
    width: 100%;
    height: 290px;
    border: 1px solid red;
}

.work-statistic {
    height: 550px;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.work-statistic-block1 {
    width: 29%;
}
.work-statistic-block1 div {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 43px;
    align-items: center;
}
.work-statistic-block1-from1 {
    height: 34%;
    border-bottom: 1px solid #ebedef;
}
.work-statistic-block1-from2 {
    height: 33%;
    border-bottom: 1px solid #ebedef;
}
.work-statistic-block1-from3 {
    height: 33%;
}
.from {
    text-align: center;
}
.from h3 {color: #37474f;}
.from p {color: #78909c;}


.work-statistic-block2 {
    background-color: white;
    width: 68%;
}

.main-header-timeline {
    background-color: #cfd8dc;
    border-radius: 100px;
    padding: 10px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.main-header-timeline-box {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-between;
}